

<div class="row mt-5 fw-bold text-center">

    <div style="width:100%;display: flex;flex-direction: column;align-items: center;margin-left: auto;margin-right: auto">
       <img src="~/images/errors/404hata.png"/>
       <a class="btn btn-danger btn-outline-dark btn-lg text-light p-2 mb-5">ANASAYFA</a>
   </div>
</div>